/.env
cogs/music.py
/cogs/__pycache__/*
/__pycache__/*
/cogs/utils/__pycache__/*
*.otf
/Scripts
/.idea
/Include
/application.yml
/Lavalink.jar
/pyvenv.cfg
/Lib
/log
/cogs/anime_quotes.py
/cogs/test.py
/cogs/trace.py
/pics/kaguya1.png
/pics/kaguya2.png
/pics/kaguya3.png
/pics/love.jpg
